*  {
    box-sizing: border-box;
}

.common-input {
    width: 100%;
    height: 40px;
    padding: 5px 10px; 
    outline: none;
    border-radius: 0;
    border: 1px solid rgb(109, 20, 69);
    border-right: none; 
    border-left: none; 
    font-size: 17px;
}