.common-button {
   width: 100%;
   height: 40px;
   border-radius: 0;
   outline: none;
   border: none;
   cursor: pointer;
   font-size: 17px;
   transition: .2s background-color;
   color: rgb(247, 189, 168);
   background: rgb(146, 32, 174);
}
.common-button:hover {
    background: rgba(150, 50, 350);
}


